<strong>Olá, {{ student }}</strong>
<p>
  Sua matrícula foi realizada, confira os detalhes abaixo:
</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Valor Total: </strong> R$ {{ price }} <br />
  <strong>Valor Mensal: </strong> R$ {{ monthlyPrice }} <br />
  <strong>Data de efetivação: </strong> {{ start_date }} <br />
  <strong>Encerra em: </strong> {{ end_date }} <br />
</p>
<p>
  Seja bem-vindo(a) ao Gympoint!
</p>
